name: Docker Image CI for Client

on:
  push:
    branches: [ "main" ]
    paths:
      - 'client/**'
      - '.github/workflows/client-docker-publish.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'client/**'
      - '.github/workflows/client-docker-publish.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: registry.gitlab.com
        username: ${{ secrets.GITLAB_USERNAME }}
        password: ${{ secrets.GITLAB_PAT }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: ./client
        file: ./client/Dockerfile
        tags: registry.gitlab.com/${{ secrets.REGISTRY_PROJECT }}/client:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
